<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GAMELOCK_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="Setting1" value="May 5, 2014"/>
		
		
		
	</appSettings>
	
	
	
    <userSettings>
        <GAMELOCK_project.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="hasopenedonce" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="mondaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="edittimeswindow" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="saturdayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundaystarttime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundayendtime" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundaystarttime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundayendtime1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundaystarttime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sundayendtime2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondaydelete" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="tuesdaydelete" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="wednesdaydelete" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="thursdaydelete" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="fridaydelete" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="mondaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="tuesdaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="wednesdaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="thursdaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="fridaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="saturdaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="sundaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="sundaydelete" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="saturdaydelete" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="mondaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="tuesdaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="wednesdaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="thursdaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="fridaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="saturdaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="sundaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="mondayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="tuesdayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="wednesdayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="thursdayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="fridayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="saturdayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="sundayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="everydayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="everydaydelete" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="everydaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="everydaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekdayselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="weekdaydelete" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekdaydelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekdaydelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekendselected" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="weekenddelete" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekenddelete1" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="weekenddelete2" serializeAs="String">
                <value>closed</value>
            </setting>
            <setting name="darkscheme" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="lightscheme" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="defaultscheme" serializeAs="String">
                <value>yes</value>
            </setting>
        </GAMELOCK_project.Properties.Settings>
    </userSettings>
</configuration>